@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');/*"Roboto Slab", serif*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); /*"Lobster", sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');/*"Pacifico", cursive*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');/*"Anton", sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');/*"Protest Strike", sans-serif*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
}
body {
    background-image: url('bus-background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}
.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    max-height: fit-content;
    padding: 5px;
    width: 100%;
    /* position: fixed; */

    border-bottom: #28a745 4px double ;

}
.navbar .logo{
    height: 100%;
    width: auto;
    font-size: 20px;
    color: crimson;
    margin-left: 10px;
}
.nav_link{
    width: 60%;
}
.navbar .nav_link ul{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    gap: 3px;
    align-items: center;
    list-style: none;
}
.navbar .nav_link li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 200;
    color: #28a745;


}
.navbar .icon{
    display: none;
}
.navbar .nav_link button{
    border: #28a745;
    width: fit-content;
    padding: 2.5px;
    border-style: double;
    background-color: white;
}

@media only screen and (max-width:900px){
    .nav_link ul li {
        display: none;

    }    
    .navbar .icon{
        display: inline-block;
        color: #28a745;
        font-size: 2rem;
    }
}
.main{
    position: relative;
    /* background-color: rgb(230, 144, 69); */
    height:60vh;
    text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   overflow: hidden;
 
}
.main .content{
    height: 100%;
    width: 850px;
    display: flex;
    flex-direction: column;
    padding-top:10rem;
    justify-content: flex-start;
align-items: center;
position: relative;

}
.content h1{
   
    color: #28a745;
    font-weight:900;
    font-family: "Roboto Slab", serif;

}
.content2{
    display: none;
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin-top: 40px;
}

.content p{
  margin-top: 65px;
  margin-right: 5px;
    color: black;
    font-size: 1.5rem;
    font-weight: 300;
    display: inline-block;
}
.content p span{
    padding-left: 5px;
    color:red;
    font-family: "Roboto Slab", serif;
    font-size: 0.8rem;
    font-weight: 700;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    width: 100%;
    height: 50vh;
    padding: 0 2rem ;
    gap:1rem;
}
.button{
    position: relative;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 50px;
    flex-direction: column;
    
}
.button p{
    text-align: justify;
    font-size: 1rem;
    font-family:"Protest Strike", sans-serif ;
    color: black;

}
.button a .UserRegister{
    display: none;
    position: absolute;
    top:45%;
    left:15%;
    color: #003c79;
    font-size: 2rem;
    padding: 5px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
  border: 1px solid rgb(5, 5, 5);
  background-color: #ff9900;

   
}
.UserRegister:hover{
    box-shadow: 2px 4px 5px 2px rgb(24, 22, 22);

}
.retailerRegister:hover{
    box-shadow: 2px 4px 5px 2px rgb(24, 22, 22);
}

 .button a .retailerRegister{
    display: none;
   position: absolute;
    top:45%;
    right:15%;
    color: rgb(255, 18, 18);
    font-size: 2rem;
    padding: 5px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    border: 1px solid rgb(5, 5, 5);
    background-color: #ff9900;

}
.Bounce{
    animation: fallBounce 3s ease forwards;
}
.about{
    color:white;
    background-color: rgb(48, 46, 46);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1 rem;
    height: fit-content;
    padding: 10px 1rem;
    text-align: justify;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;

}
.about h1{
    text-align: center;
    font-size: 3rem;
font-family: "Roboto Slab", serif;
    font-weight: 500;
    margin-bottom: 2rem;
    color: seagreen;

}
.about .boxContainer{
    
    padding:1rem;
    display: flex;
    width: fit-content;
    gap: 5px;
    flex-wrap: nowrap;
}
.about .boxContainer .box{
    margin-top: 1rem;
    border-radius: 5%;
width: 400px;
height: 350px;
background-color:seagreen;
}
footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem;
    height: fit-content;
    text-align: center;
}
footer h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin: 1.5rem;
}
.imgdiv{
    width: fit-content;
    height: fit-content;
    float: right;
   display:"none"
    
}
.imgdiv img{
    width: 200px;
    height: 150px;
}



 .animateIn {
    
    animation: leftBus 6s linear forwards;
}

.animateOut{
    animation: rightBus 6s linear;
}
.animateIn:hover{
    animation-play-state: paused;
}
.animateOut:hover{
    animation-play-state: paused;
}
/*  i want to create an animation in which my image will come and it will stick to desired position */
@keyframes leftBus {
    

0% {
    transform: translateX(-100%); 
}
100% {
    transform: translateX(55px);
}
} 
@keyframes rightBus{
    0%{
        transform:translateX(55px);
    }
    100%{
        transform:translateX(200%);
    }
}

@keyframes fallBounce {
    0% {
      top: 0%;
      transform: scale(1);
    }
    50% {
      top: 80%; 
      
    }
    75%{
        top: 50%;
    }

    85%{
        top: 80%;
    }
    90% {
      top: 65%; 
      transform: scale(1); 
    }
    100% {
      top: 80%; 
      transform: scale(1);
    }
  }